@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bienvenido!</h1>
    <p>
        Este programa fue realizado a modo de aprendizaje con las siguientes tecnologías y herramientas:
    </p>
    <ul class="list-group">
        <li class="list-group-item">ASP.NET MVC</li>
        <li class="list-group-item">Bootstrap</li>
        <li class="list-group-item">Entity Framework</li>
        <li class="list-group-item">SQL Server</li>
        <li class="list-group-item">Github</li>
    </ul>
</div>
<div>
    <p>
        El mismo fue realizado el 17/09/2023. La verdad es que fue todo un desafío. A pesar de tener poca experiencia con ASP.NET, sentí en muchas ocasiones que no iba a poder completarlo, pero con mente positiva y actitud, lo pude lograr.
    </p>
    <h2>Funcionalidad</h2>
    <p>
        La funcionalidad de esta web es simple. En la parte superior hay 3 vínculos. El primero es el nombre de la página, que nos redirecciona hacia el Inicio, luego el segundo nos lleva a ver el listado de los empleados y, por último, es para agregar uno nuevo. <br />
        Cada empleado tiene los siguientes datos:
    </p>
    <ul>
        <li><strong>Id</strong>: Guid identificador de cada empleado.</li>
        <li><strong>Nombre</strong>: Nombre completo del empleado.</li>
        <li><strong>Email</strong>: Email del empleado.</li>
        <li><strong>Fecha de nacimiento</strong>: Fecha de nacimiento del empleado.</li>
        <li><strong>Puesto</strong>: Puesto que tiene el empleado dentro de la organización.</li>
        <li><strong>Sueldo</strong>: Sueldo que se le da al empleado.</li>
    </ul>
    <p>
        Para terminar, en el listado de los empleados, al final de cada fila hay un botón que al presionarlo permite editar al empleado. En este mismo menú de edición, se encuentran 2 botones, uno para confirmar la edición y otro para borrar el empleado (Físicamente).
    </p>
</div>
